@import "tailwindcss";

button {
  cursor: pointer;
}



@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes slideup{
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(-100%)
  }
  
}
